<table<table border="3">
    <tr>
        <td>id</td>
        <td>picture</td>
        <td>username</td>
        <td>email</td>
        <td>nbr_books</td>
        <td>details</td>

    </tr>
    
    <tr>
        <td>{{auther.id}}</td>
        <td><img src="{{asset(auther.picture)}}" alt="pic"></td>
        <td>{{auther.username|upper()}}</td>
        <td>{{auther.email}}</td>
        <td>{{auther.nb_books}}</td>
       

    </tr>
    </table>
  