<p><strong>title</strong> {{book.title}}</p>
<p><strong>reference{{book.ref}}</strong></p>
<p><strong>category </strong>{{book.category}}</p>
<p><strong>publicationdate</strong> {{book.publicationDate| date('Y-m-d')}}</p>
<p><strong>auther</strong> {{book.auther}}</p>
<p><strong>the nombre de book</strong> {{book.getAuther().getNbBooks()}}</p>
